body{
    overflow: hidden;
    background-image: url(https://images.alphacoders.com/805/thumb-1920-805180.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#imgjogo{
    padding-top: 77px;
    width: 1100px;
    height: 610px;
    border-radius: 15px;
}

.player{
    position: absolute;
    width: 30px;
}

#play1{
    margin-top: 85px;
    margin-left: 1010px;

}
#play2{
    margin-top: 85px;
    margin-left: 980px;

}
#play3{
    margin-top: 118px;
    margin-left: 1010px;

}
#play4{
    margin-top: 118px;
    margin-left: 980px;

}
#face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}
#div_dado{
    position: absolute;
    background: rgb(2,0,36);
    background: -webkit-radial-gradient(center, ellipse cover, #2B3385 0%,#162d42 100%);
    color: white;
    margin-top: 0px;
    margin-left: 1170px;
    opacity: 70%;
    width: 270px;
    height: 180px;
    border-radius: 15px;
    padding: 15px;
    padding-top: 25px;
}
#div_dado :hover, #div_sorte :hover, #div_pergunta :hover{
    transform: scale(1.1);
    /* nitidez */
    -webkit-transform: scale(1.1);
    transition: 0.5s;


}
h3, h4{
    text-align: center;
}
#sorte{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

#pergunta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

#div_sorte{
    position: absolute;
    background: rgb(2,0,36);
    background: -webkit-radial-gradient(center, ellipse cover, #2B3385 0%,#162d42 100%);
    color : white;
    margin-top: 240px;
    margin-left: 1170px;
    opacity: 70%;
    width: 270px;
    height: 180px;
    border-radius: 15px;
    padding: 15px;
}
#div_pergunta{
    position: absolute;
    background: rgb(2,0,36);
    background: -webkit-radial-gradient(center, ellipse cover, #2B3385 0%,#162d42 100%);
    color: white;
    margin-top: 470px;
    margin-left: 1170px;
    opacity: 70%;
    width: 270px;
    height: 180px;
    border-radius: 15px;
    padding: 15px;
    padding-top: 25px;
}
#botoes{
    margin-left: 10px;
    margin-top: 8px;
}
button{
    margin-left: 2px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #8B011B;
}
button:hover{
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 1em rgb(124, 122, 122);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}


.vez{
    position: absolute;
    margin-top: 610px;
    margin-left: 530px;
}